html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    text-align: center;
    font-family: sans-serif;
}
.calculator-wrap a {
    color: white;
}
.calculator-wrap {
    max-width: 977px;
    margin: 0 auto;
    padding: 0 20px;
}
.calculator-wrap .section-header {
    text-align: left;
    color: white;
    background: linear-gradient(#a2806a, #7f5d47);
    font-size: 18px;
    margin: 0;
    padding: 12px 20px;
    position: relative;
}
.info {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 10px 0 10px;
    border: 3px solid white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: 10px;
    background: #c96f18;
}
.calculator-wrap .section-header h2 {
    font-size: 24px;
    margin: 0;
    color: #fff;
}
.calculator-wrap .calc-section {
    border: 1px solid #7f5d47;
    padding: 0;
    margin-bottom: 45px;
    min-height: 390px;
    background: #fff;
}
.calculator-wrap .calc-section-third {
    border: 1px solid #7f5d47;
    padding: 0;
    margin-bottom: 45px;
    display: inline-block;
    width: 33%;
    text-align: center;
    vertical-align: top;
    background: #fff;
}
.calculator-wrap .calc-section-third .section-header {
    text-align: center;
}
.calculator-wrap .slider-half-width {
    display: inline-block;
    width: 49%;
    position: relative;
    margin: 20px 0;
    vertical-align: top;
    height: 260px;
    position: relative;
}
.right-border {
    position: absolute;
    right: -2px;
    top: 30%;
    left: 0;
    bottom: 0;
    border-right: 1px solid #7f5d47;
}
.calculator-wrap .calc-section .slider-half-width h3 {
    font-style: italic;
    font-size: 17px;
    font-weight: normal;
    max-width: 50%;
    margin: 20px auto;
    line-height: 1.4;
    color: #111;
    font-family: "open_sansregular", sans-serif;
}
.calculator-wrap .directions {
    width: 80%;
    margin: 20px auto;
    padding: 25px 5px;
    color: white;
    background: linear-gradient(#d97f28, #c26811);
    font-size: 18px;
    border: 1px solid #7f5d47;
}
.slider {
    margin: 60px auto;
    width: 75%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.slider .noUi-base {
    background-color: #d27821;
    border-radius: 10px;
}
.noUi-target {
    border-radius: 10px;
}
.slider .noUi-handle {
    background: radial-gradient(#f4f4f4, #fff);
}
.tooltip {
    display: block;
    position: absolute;
    border-radius: 3px;
    background: #a2806a;
    color: #fff;
    top: -45px;
    padding: 10px 5px;
    left: -9px;
    text-align: center;
    width: 65px;
}
.min,
.max {
    position: absolute;
    bottom: 35px;
    font-style: italic;
}
.min {
    left: 13%;
}
.max {
    right: 13%;
}
#ordersFulfilled,
#storageSpace,
#totalPerOrder {
    font-weight: normal;
    font-size: 18px;
    font-family: "open_sansregular", sans-serif;
}
#totalOrders,
#totalPerMonth,
#totalStorage {
    padding: 20px;
    font-size: 36px;
}
.calculator-wrap .orange-header {
    background: linear-gradient(#d97f28, #c26811);
}
@media (max-width: 600px) {
    .calculator-wrap .slider-half-width {
        display: block;
        width: 100%;
        margin: 45px 0;
    }
    #ordersFulfilled,
    #storageSpace {
        display: block;
    }
    .calculator-wrap .section-header h2 {
        text-align: center;
        font-size: 26px;
    }
    #totalOrders,
    #totalStorage,
    #totalPerMonth {
        font-size: 26px;
    }
    .right-border {
        display: none
    }
    .calculator-wrap .slider-half-width {
        height: 220px;
    }
}
@media (max-width: 900px) {
    .calculator-wrap .calc-section-third {
        width: 49.5%;
    }
    .calculator-wrap .calc-section-third h2 {
        font-size: 20px;
    }
}
